/FileBrowserSuite/nbproject/private/
/FileBrowserSuite/ScannerGUI/nbproject/private/
/FileBrowserSuite/ImageService/nbproject/private/
/FileBrowserSuite/FileViewer/nbproject/private/
/FileBrowserSuite/SanedNetService/nbproject/private/
/FileBrowserSuite/FileBrowser/nbproject/private/
/FileBrowserSuite/ScannerService/nbproject/private/
/FileBrowserSuite/FolderViewer/nbproject/private/
/FileBrowserSuite/PdfService/nbproject/private/
/FileBrowserSuite/TWAINService/nbproject/private/
/FileBrowserSuite/FileService/nbproject/private/
/FileBrowserSuite/core/nbproject/private/
/FileBrowserSuite/OptionsModule/nbproject/private/
/FileBrowserSuite/MorenaService/nbproject/private/